* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: rgb(0, 0, 0);
}

.books-container{   
    display: grid;
    margin: 50px;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    background-color: rgb(3, 40, 8);
    gap: 10px;
    border: 1px solid rgb(2, 54, 12);
}
.book-card{
    color:white;
    padding: 10px;
    border: 3px solid rgb(8, 65, 3);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
    font-size: 20px;
}

.book-card > p:first-child{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.read-true {
    text-transform: capitalize;
    font-weight: 600;
}